* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body, html {
  height: 100%; }

body {
  color: #fff;
  background: #151515;
  font: 100%/1.6 "Open Sans",sans-serif;
  overflow-x: hidden; }
  @media screen and (max-width: 720px) {
    body {
      font-size: 68%; } }
  @media screen and (max-width: 960px) {
    body {
      font-size: 63%; } }

.wrapper {
  position: relative;
  height: 100%;
  overflow-x: hidden; }

h1, h2, h3, h4 {
  font-family: Roboto,sans-serif; }

.btn {
  outline: none;
  border: none;
  transition: all .3s ease-out;
  cursor: pointer;
  border-radius: 4px; }

.btn-default {
  padding: 20px 15px;
  border-color: #000;
  background: #1b1b1b;
  color: #fff;
  font-size: 1.12em;
  text-transform: uppercase; }

.display-username {
  display: none; }

.green {
  color: #37a272;
  font-size: 1.1em; }

.wrap {
  max-width: 70em;
  margin: 5em auto; }
  @media screen and (max-width: 720px) {
    .wrap {
      width: 95%;
      margin: 3em auto; } }

.result-wrap {
  display: flex;
  flex-direction: column; }

.fade-in {
  order: 1 !important;
  transform: translate3d(0, 0, 0) !important;
  display: flex !important;
  opacity: 1 !important; }

a {
  text-decoration: none; }

.active {
  color: #37a272 !important; }

.line {
  width: 1.25em;
  height: 0.11em;
  margin-bottom: 0.25em;
  background: #dedede;
  display: block;
  margin-right: 0.5em; }

header {
  background: linear-gradient(#2b2b2b, #171717);
  border-bottom: 1px solid #000;
  box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.3); }
  header .title {
    font-size: 1.4em;
    font-weight: 400;
    color: #37a272; }
  header .nav-icon {
    cursor: pointer;
    outline: none;
    display: none;
    margin-left: auto; }
    header .nav-icon:active {
      outline: none; }
  @media screen and (max-width: 960px) {
    header {
      font-size: 1.7em; }
      header .nav-icon {
        display: block; } }
  @media screen and (max-width: 960px) {
    header {
      font-size: 2.2em; }
      header .nav-icon {
        display: block; } }

.inner {
  max-width: 70em;
  margin: auto;
  padding: .5em 0em;
  display: flex;
  align-items: center;
  position: relative; }
  @media screen and (max-width: 960px) {
    .inner {
      padding: 0.3em 1em; } }
  @media screen and (max-width: 720px) {
    .inner {
      padding: 0px 1em; } }

.main-nav {
  display: flex;
  margin-left: auto;
  align-items: center; }
  .main-nav li {
    list-style: none;
    margin-right: 1em; }
    .main-nav li a {
      text-decoration: none;
      color: #ababab;
      font-weight: 300;
      font-size: 1.1em;
      transition: all .2s ease-out; }
      .main-nav li a:hover {
        color: green; }
  @media screen and (max-width: 960px) {
    .main-nav {
      display: flex;
      position: absolute;
      z-index: 100;
      top: 100%;
      left: 0;
      font-size: .8em;
      opacity: 0;
      transform: translate3d(0, -20%, 0);
      transition: all 0.2s ease;
      background: linear-gradient(#1d1d1d, #0c0c0c);
      width: 100%;
      justify-content: space-around;
      flex-wrap: wrap; }
      .main-nav li {
        padding: 0.3em; }
        .main-nav li:last-child {
          border-bottom: none; }
        .main-nav li a {
          padding: .3em 0px;
          font-size: 1.2em; } }
  @media screen and (max-width: 720px) {
    .main-nav {
      margin: 0px -1.2em; } }

.show-nav {
  opacity: 1;
  transform: translate3d(0, 0, 0); }
  @media screen and (max-width: 1320px) {
    .show-nav {
      flex-direction: row; } }

h1 {
  margin-bottom: 1.6em; }

#search {
  width: 100%;
  border-radius: 8px;
  background: linear-gradient(#1b1b1b, #111);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  padding: 12px;
  border: 1px solid #000;
  margin-bottom: 2em;
  padding: 20px;
  font-size: 1.7em;
  text-indent: 1em;
  outline: none;
  color: #9c9c9c; }
  @media screen and (max-width: 960px) {
    #search {
      margin-top: 2.2em;
      padding: 30px; } }

#results {
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  display: flex;
  opacity: 0;
  order: 2;
  transform: translate3d(0, 100%, 0);
  flex-wrap: wrap;
  justify-content: flex-start; }

.movie {
  flex: 0 20%;
  margin: 0 2.5% 2em 2.5%; }
  @media screen and (max-width: 960px) {
    .movie {
      flex: 0 40%;
      margin: 0 5% 2em 5%;
      font-size: 1.8em; } }
  @media screen and (max-width: 720px) {
    .movie {
      flex: 0 90%;
      margin: 0 5% 2em 5%;
      font-size: 1.8em; } }
  .movie:last-child {
    margin-right: 0; }
  .movie .poster {
    width: 100%;
    margin-bottom: .5em;
    min-height: 320px;
    max-height: 320px; }
  .movie .title {
    color: #fff;
    text-decoration: none;
    font-size: 1.12em;
    font-weight: 300;
    margin-bottom: .2em;
    min-height: 50px; }
  .movie .year {
    font-weight: 300;
    font-size: 1.1em;
    color: #37a272; }

#singleView {
  transform: translate3d(0px, -100%, 0);
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  opacity: 0;
  order: 2;
  padding-bottom: 3em;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 95%;
  margin: auto;
  text-align: left;
  color: #ababab; }
  #singleView .poster {
    width: 40%;
    margin-right: 6%;
    margin-bottom: 2em;
    border: 6px solid #2b2b2b;
    max-height: 530px; }
  #singleView .runtime {
    color: #37a272;
    display: inline-block; }
  #singleView .content {
    display: flex;
    width: 53%;
    justify-content: center;
    flex-direction: column; }
    #singleView .content .title {
      font-weight: 300;
      margin-bottom: 0;
      margin-bottom: .3em;
      line-height: 1.3; }
    #singleView .content .meta {
      color: #37a272;
      display: flex;
      font-size: .93em; }
      #singleView .content .meta .year {
        margin-right: 1em; }
      #singleView .content .meta .score {
        margin-left: auto;
        margin-right: 3em;
        color: #ababab; }
    #singleView .content .description {
      margin-top: 1em;
      font-weight: 300;
      font-size: 1.05em;
      letter-spacing: .2px;
      color: #bfbfbf; }
  #singleView .actions {
    font-size: 4em;
    text-align: center;
    width: 40%; }
    #singleView .actions li {
      display: inline-block;
      list-style: none;
      cursor: pointer;
      transition: all .3s ease-out; }
      #singleView .actions li:hover {
        color: #37a272; }
  @media screen and (max-width: 960px) {
    #singleView {
      width: 90%;
      justify-content: center;
      font-size: 2em; }
      #singleView .poster {
        width: 75%;
        margin-bottom: 2em; }
      #singleView .content {
        width: 90%;
        margin-bottom: 2em; }
      #singleView .actions {
        order: 3; } }
  @media screen and (max-width: 720px) {
    #singleView {
      width: 95%;
      justify-content: center;
      font-size: 2em; }
      #singleView .poster {
        width: 95%;
        margin-bottom: 2em; }
      #singleView .content {
        width: 90%;
        margin-bottom: 2em; }
      #singleView .actions {
        order: 3; } }

.logout {
  display: none; }

.login-modal, .register-modal {
  visibility: hidden;
  position: absolute;
  top: 30%;
  left: 37.5%;
  display: flex;
  flex-direction: column;
  padding: 40px 30px;
  background: #fff;
  color: #333;
  min-width: 25%;
  min-height: 280px;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  transition: all .3s ease-out;
  transform: scale(0.8);
  opacity: 0; }
  @media screen and (max-width: 960px) {
    .login-modal, .register-modal {
      left: 20%;
      width: 60%;
      padding-top: 6em;
      min-height: 420px; } }
  @media screen and (max-width: 720px) {
    .login-modal, .register-modal {
      left: 5%;
      width: 90%; } }
  .login-modal h1, .register-modal h1 {
    font-weight: 400;
    font-size: 1.6em;
    margin-bottom: 1em; }
  .login-modal input, .register-modal input {
    outline: none;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 15px;
    font-size: 1.12em;
    margin-bottom: 2em;
    width: 95%; }
    @media screen and (max-width: 960px) {
      .login-modal input, .register-modal input {
        margin-bottom: 3em;
        font-size: 1.6em; } }

.show {
  opacity: 1;
  transform: scale(1);
  visibility: visible; }

.hide {
  display: none; }

.slide-in {
  transform: translate3d(0, 0, 0) !important; }

.display {
  display: block !important; }

.dashboard {
  position: absolute;
  display: block;
  padding: 3% 2%;
  top: 10%;
  right: 0;
  z-index: 1000;
  width: 20%;
  height: 80vh;
  /* background: linear-gradient(#2b2b2b, #171717); */
  background: rgba(14, 14, 14, 0.8);
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.3);
  border: 1px solid #171717;
  color: #ababab;
  border-radius: 6px;
  transition: all 0.3s ease-out;
  transform: translate3d(100%, 0, 0); }
  .dashboard h1 {
    font-weight: 400;
    font-size: 1.4em; }
  .dashboard .fav-movies li {
    font-size: 1.1em;
    list-style: none;
    border-bottom: 1px solid rgba(204, 204, 204, 0.1);
    margin-bottom: .4em;
    padding-bottom: .3em; }
  @media screen and (max-width: 960px) {
    .dashboard {
      width: 65%;
      top: 20%;
      font-size: 1.6em;
      padding: 2em 1.6em; } }

.dashboard-btn {
  display: none; }

@keyframes flash {
  0% {
    visibility: visible;
    opacity: 0;
    transform: scale(0.8); }
  10% {
    opacity: 1;
    transform: scale(1); }
  85% {
    transform: scale(1);
    opacity: 1; }
  100% {
    transform: scale(0.8);
    opacity: 0;
    visibility: hidden;
    display: none; } }

.flash {
  animation: flash 5s ease forwards; }

.message {
  user-select: none;
  opacity: 0;
  position: absolute;
  top: 10%;
  left: 42.5%;
  background: rgba(42, 45, 50, 0.85);
  border-radius: 4px;
  padding: 22px;
  font-size: 1em;
  text-align: center;
  color: rgba(250, 251, 255, 0.95);
  font-size: .9em;
  transition: all .3s ease;
  transform: scale(0.8);
  box-shadow: 0 25px 10px -15px rgba(0, 0, 0, 0.05);
  /* text-transform: uppercase; */ }
  .message .msg-close {
    cursor: pointer;
    user-select: none;
    position: absolute;
    top: 4px;
    right: 14px;
    font-size: .92em;
    color: #ddd; }
  @media screen and (max-width: 960px) {
    .message {
      top: 25%;
      left: 20%;
      width: 50%;
      font-size: 2.4em; } }
  @media screen and (max-width: 720px) {
    .message {
      left: 10%; } }
