
<div class="row">
   <div class="col-md-3 cover-info">
   	 <div class="content">
   	 		<img src="{{album?.images[0].url}}" alt="" class="album-cover">
   	 	   	<h4>{{album?.name}}</h4>
   	 	   	<p class="album-artist">
   	 	   		{{album?.artists[0].name}}
   	 	   	</p>
   	 	     <p>
   	 	   		Songs {{album?.tracks.total}}
   	 	   	</p>
   	 	   	<button class="btn btn-main" >
   	 	   		play
   	 	   	</button>

   	 </div>
   	 <!-- /.cover-info -->

   </div>
   <!-- /.col-md-4 -->
   <div class="col-md-offset-1 col-md-8">
	<div *ngIf="album?.tracks.items.length > 0" class="song-list">
		<div *ngFor="let track of album.tracks.items; let i = index" (mouseover)="mouseoverEvent($event)" (mouseout)="mouseoutEvent($event)" class="col-md-12 song">
			<span class="play"><a  href="{{track.preview_url}}" class="ion-play" target="_blank"></a></span>
         <span class="index">{{i+1}}.</span>
         <span class="name">{{track.name}}</span>
         <span class="duration">
            {{track.duration_ms / 1000 / 60 | number : '1.0-0'}}:{{track.duration_ms / 1000 % 60 | number : '1.0-0'}}
         </span>
		</div>
	</div>
	</div>
</div>